<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <style>
        th, tr, td {
            padding: 5px;
        }
    </style>
</head>
<body>
<div th:switch="${accounts}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Accounts list </h2>
        <table border="1">
            <tr>
                <td>Id</td>
                <td th:text="${client.id}"></td>
            </tr>
            <tr>
                <td>Login</td>
                <td th:text="${client.username}"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td th:text="${client.password}"></td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td th:text="${client.birthDate}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${client.name}"></td>
            </tr>
            <tr>
                <td>Surname</td>
                <td th:text="${client.surname}"></td>
            </tr>
            </table>


        <br>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Balance</th>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="account : ${accounts}">
                <td th:text="${account.id}"></td>
                <td th:text="${account.balance}"></td>
                <td th:text="${account.openDate}"></td>
                <td th:text="${account.closeDate}"></td>
                <td th:text="${account.status}"></td>

                <td><a th:href="@{/account-update/{clientId}/{accountId}(clientId=${clientId},accountId=${account.id})}">Edit</a></td>
                <td><a th:href="@{/account-delete/{clientId}/{id}(clientId=${clientId},id=${account.id})}">Delete</a></td>
                <td><a th:href="@{/send-money/{clientId}/{accountId}(clientId=${clientId},accountId=${account.id})}">Translation</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <td><a th:href="@{/account-create/{clientId}(clientId=${clientId})}">Create account</a></td>
    </br>

    <a href="/clients" class="button">Back</a>
</div>
</body>
</html>