<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Audits History</title>
    <style>
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>

<div th:switch="${audits}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Audits History</h2>
        <table  border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Object Id</th>
                <th>Object Type</th>
                <th>Action date</th>
                <th>Audit action</th>
                <th>New Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="audit : ${audits}">
                <td th:text="${audit.id}"></td>
                <td th:text="${audit.objectId}"></td>
                <td th:text="${audit.objectType}"></td>
                <td th:text="${audit.actionDate}"></td>
                <td th:text="${audit.auditAction}"></td>
                <td th:text="${audit.newValue}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    </br>
    <a href="/clients" class="button">Back</a>
</div>
</body>
</html>