<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <style>
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>

<div th:switch="${client}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Clients list</h2>
        <table  border="1">
            <div th:if="${errorMessage!=null}"
                 style="color:#ff0000;font-style:italic" th:utext="${errorMessage}">..</div>
            <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>Birth Date</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="clients : ${client}">
                <td th:text="${clients.id}"></td>
                <td th:text="${clients.username}"></td>
                <td th:text="${clients.password}"></td>
                <td th:text="${clients.birthDate}"></td>
                <td th:text="${clients.name}"></td>
                <td th:text="${clients.surname}"></td>

                <td><a th:href="@{client-update/{id}(id=${clients.id})}">Edit</a></td>
                <td><a th:href="@{client-delete/{id}(id=${clients.id})}">Delete</a></td>
                <td><a th:href="@{account-list/{id}(id=${clients.id})}">Account</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/client-create" class="button">Create user</a>
    </br>
    <a href="/audits" class="button">Audits History</a>
</div>
</body>
</html>