<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <style>
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <td>Name</td>
        <td th:text="${client.name}"></td>
    </tr>
    <tr>
        <td>Surname</td>
        <td th:text="${client.surname}"></td>
    </tr>
    <tr>
        <td>Account number</td>
        <td th:text="${account.id}"></td>
    </tr>
    <tr>
        <td>Balance</td>
        <td th:text="${account.balance}"></td>
    </tr>
    <tr>
        <td>Open Date</td>
        <td th:text="${account.openDate}"></td>
    </tr>
    <tr>
        <td>Close Date</td>
        <td th:text="${account.closeDate}"></td>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${account.status}"></td>
    </tr>
</table>
<div th:if="${errorMessage!=null}"
     style="color:#ff0000;font-style:italic" th:utext="${errorMessage}">..</div>
<form action="#" th:action="@{/send-money/{clientId}/{accountId}(clientId=${clientId},accountId=${accountId})}" th:object="${sendMoneyForm}" method="post">
    <label for="amount">Total</label>
    <input type="number" th:field="*{amount}" id="amount" placeholder="Total">
    </br>
    <label for="toAccountId">Account number</label>
    <input type="number" th:field="*{toAccountId}" id="toAccountId" placeholder="Account number">
    </br>
    <td><input type="submit" value="Send"/></td>
</form>
</body>
</html>